PyQt6==6.7.1
pyautogui==0.9.54
keyboard==0.13.5
SpeechRecognition==3.10.4
pvporcupine==3.0.2
pycaw==20240210; sys_platform == "win32"
comtypes==1.4.5; sys_platform == "win32"
WMI==1.5.1; sys_platform == "win32"
psutil==6.0.0
vosk==0.3.45
pyttsx3==2.90
PyAudio==0.2.14
